*{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 4rem;
    font-weight: 700;
}
h2{
    font-size: 1.625rem;
}
h3{
    font-size: 1rem;
}

section{
    background: #000000;
    border-bottom: 8px solid #222;
    padding-top: 50px;
    padding-bottom: 50px;
}

section div.contenido{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div.contenido div{
    
}

.restaurar{
            clear: both;
}

html, body, .cover{
    height: 100%;
}

.cover{
    background: url(../NETFLIX_123658.jpg);

}

section.cabecera{
    background: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
nav{
    margin: 0 3.5rem;
    padding-top: 26px;
}

div.log{
    float: left;
}

div.login{
    float: right;
}

div.login:hover{
    cursor: pointer;
}

div.login span{
    padding: 7px 17px;
    background: #e50914;
    border-radius: 4px;
}

.presentacion{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.presentacion input{
    height: 70px;
    width: 500px;
    margin-top: 8px;
    margin-bottom: 3px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #5695e9;
    padding-left: 11px;
    color: #1c1c1c;
}

.presentacion span{
    background: #e50914;
    padding: 22px;
    padding-bottom: 23px;
    font-weight: 500;
    margin-left: -5px;
    border: solid #d30f18;
}

.presentacion span:hover, .contpreguntas span:hover{
    cursor: pointer;
    background: red;
}

.izquierda{
    float: left;
}
.derecha{
    float: right;
}
.flotantetexto{
    width: 59%;
}
.flotanteimagen{
    width: 39%;
}

.contenido img{
    width: 100%;
    height: auto;
    border: 0;
    position: relative;
    z-index: 1;
}

.contenido h2{
    font-weight: bold;
    font-size: 50px;
}

.contenido p{
    font-size: 25px;
    font-weight: 200;
}

.tv video{
    position: absolute;
    transform: translate(-373px, 68px);
    width: 313px;
    z-index: 2;
}

.disfruta video{
    position: absolute;
    transform: translate(-350px, 45px);
    width: 268px;
}

.tarjetaInt, .portada{
    display: flex;
    align-items: center;
}

.tarjetaInt{
    width: 70%;
    margin: auto;
    border: solid 2px #434343;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    background: #000000
}

.tarjeta{
    position: relative;
    transform: translate(-65px, -41px);
}

.preguntas h2{
    font-weight: bold;
    font-size: 35px;
}

.contpreguntas{
    width: 650px;
    margin: auto;
    text-align: center;
}

.contpreguntas div{
    text-align: left;
    font-size: 20px;
}

.preguntas{
    background: #303030;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.respuesta{
    background: #303030;
    margin-bottom: 5px;
    margin-top: 5px;
}

.pregunta p, .respuesta p{
    padding: 10px;
    padding-left: 20px;
}

.respuesta hr{
    border: 1px solid #262626;
}

.pregunta:hover .respuesta{
    max-height: 1000px;
}

.respuesta{
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
}

.contpreguntas input{
    height: 60px;
    width: 465px;
    margin-top: 20px;
    margin-bottom: 3px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #5695e9;
    padding-left: 11px;
    color: #1c1c1c;
}

.contpreguntas span{
    background: #e50914;
    padding: 16px;
    padding-bottom: 19px;
    font-weight: 500;
    margin-left: -5px;
    border: solid #d30f18;
}

.contpreguntas h3{
    font-size: 15px;
}

.piecontenido{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.pie p{
    padding: 7px;
}

.pie .espacio{
    width: 100px;
}